@font-face {
    font-family: 'Netflix sans';
    src: local('./assets/fonts/netflix-sans-light');
    src: local('./assets/fonts/netflix-sans-medium');
    src: local('./assets/fonts/netflix-sans-bold');
}
